
body {
    font-family:  cursive;
    background-color:rgb(76, 83, 175);
  }
  h2 {
    text-align: center;
    margin: 20px auto;
  }
  form {
    width: 70%;
    margin: auto;
  }
  fieldset {
    padding: 20px;
    border: 1px solid #c4bdce;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 5px #d4d9e0;
    background-color: #eee;
  }

  label {
    display: block;
    
    margin-bottom: 5px;
  }
  input[type="text"],input[type="email"],select{
    width: calc(100% - 20px);
    height: 20px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #810707;
    margin-bottom: 10px;
  }
  #password {
    width: calc(100% - 20px);
    height: 20px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #239c05;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    text-align: center;
    font-size: 2000;
    padding: 5px;
    margin: auto !important;
    height: 40px;
    border-radius: 10px;
    background-color: #b1a3af;
  }






 


